/* Base Styling */
body {
    background-color: #EDE0D4;
    color: #9C6644;
    min-height: 100vh;
}

h1, h2, h3 {
    color: #9C6644;
}

.title {
    color: #9C6644;
}

/* Index Styling */

.index-gallery {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 450px 450px 450px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.index-gallery .index-card img {
    height: 300px;
    width: 300px;
    border: 5px solid white;
    margin-top: 25px;
}

.index-gallery .index-card .index-card-header .index-card-title {
    font-size: 30px;
    font-weight: bold;
}


/* Celeb Show Page Styling */

.celeb-show .celeb-photo {
    width: 200px;
    height: auto;
}

.celeb-show .celeb-bio .options-grid {
    border: 10px solid white;
    width: 100px;
    height: 100px;
}

/* Photo Index Page */

.photo-index-gallery {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 450px 450px 450px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-evenly;
}

.photo-index-img {
    height: 300px;
}