{% extends 'base.html' %}

{% block content%}

<div class="index-gallery">
  {% for article in articles %}

          <div class="index-card">

              <img src="{{article.cover_photo}}" alt="{{article.title}}" />
                <div class="index-card-header">
                  <h2 class="index-card-title">{{article.title}}</h2>
                </div>

          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Articles Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}