{% extends 'base.html' %}

{% block content%}

<div class="article-show" background-image="url'{{article.cover_photo}}'">
          <div class="article-show-card">
            <img src="{{article.cover_photo}}" alt="{{article.title}}" />
            <div class="article-body">
                <p class="article-date">{{article.date_posted}}</p>    
                <h1 class="article-title">{{article.title}}</h1>
                <p class="article-summary">{{article.summary}}</p>
                <a href="{{article.url}}">
                    <button type='submit' class="read-more-button">Read more</button>
                </a>
            </div>
          </div>

          <div class="comment-section">
            <h1 class="header">Comments:</h1>
            {% for comment in article.comments.all %}
            <div class="comment">
                <p class="date">{{comment.date_posted}}</p>
                <h4 class="username">{{comment.username}}</h4>
                <p class="body">{{comment.body}}</p>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Comments Available</p>
                </div>
            </article>

            {% endfor %}
          </div>
</div>

{% endblock %}