{% extends 'base.html' %}

{% block content%}

<div class="articles-index-gallery">
  {% for article in articles %}
        <a href="{% url 'article_show' article.pk %}">
          <div class="articles-index-card">
              <h1>{{article.title}}</h1>
          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Articles Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}