{% extends 'base.html' %}

{% block content%}

<div class="blinds-index-gallery">
  {% for blinditem in blinditems %}
          <div class="blinds-index-card">
              <p class="date">{{blinditem.date_posted}}</p>
              <h1 class="blinds-title">{{blinditem.title}}</h1>
              <p class="blinds-body">{{blinditem.body}}</p>
              <div class="button-section">
                <a href="{% url 'blind_item_show' blinditem.pk %}">
                  <button class="button">Read More</button>
                </a>
              </div>
          </div>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Blind Items Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}