{% extends 'base.html' %}

{% block content%}

<div class="blinds-index-gallery">
  {% for blinds in blinditems %}
        <a href="{% url 'blind_item_show' blinds.pk %}">
          <div class="blinds-index-card">
              <h1>{{blinds.title}}</h1>
          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Blind Items Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}