{% extends 'base.html' %} 

{% block content %}

<div class="celeb-show">

    <div class = 'grid-container' style="background-image: url '% {{celeb.coverphoto}} %'">

        <div class="grid-item">
            <div class="grid-item-one">
                <div class="celeb-photo">
                    <img class='celeb-photo-img' src="{{celeb.image}}" alt="{{celeb.name}}" />

                </div>
                
                <div class="celeb-bio">
                    <h1 class="show-page-title">{{celeb.name}}</h1>
                    <p>{{celeb.bio}}</p>
                    <div class="update-celeb">
                        <a href="{% url 'update_celeb' celeb.pk %}" class="button-is-danger">Update Celeb</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="grid-item">
            <a href="{% url 'photo_index' celeb.pk %}">Photos</a>
        </div>

        <div class="grid-item">
            <a href="{% url 'video_index' celeb.pk %}">Videos</a>
        </div>

        <div class="grid-item">
            <a href="{% url 'article_index' celeb.pk %}">Articles</a>
        </div>

        <div class="grid-item">
            <a href="{% url 'blind_item_index' celeb.pk %}">Blind Items</a>
        </div>

        <div class="grid-item">
            <a href="{% url 'message_board_index' celeb.pk %}">Message Board</a>
        </div>

    </div>
</div>

{% endblock %}