{% extends 'base.html' %} 
{% block content %}
<div class="celeb-show">
    <div class="celeb-photo">
        <img class='celeb-photo' src="{{celeb.image}}" alt="{{celeb.name}}" width='250px'/>
    </div>
        <h1 class="show-page-title">{{celeb.name}}</h1>
    <div class="'celeb-bio">
        <div class="celeb-bio-section">
            <h4 class="celeb-bio">Bio:</h4>
            <p>{{celeb.bio}}</p>
        </div>
        <div class="update-celeb">
            <a href="{% url 'update_celeb' celeb.pk %}" class="button-is-danger">Update Celeb</a>
        </div>
        <div class = 'options-grid'>
            <div class="photos-grid">
                <a href="{% url 'photo_index' celeb.pk %}">Photos</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}