{% extends 'base.html' %}

{% block title %}Celebs{% endblock  %}

{% block content %}

<!-- Beginning of button -->
<div class="top-of-index">
  <form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="name" placeholder="Name" />
      </div>
        <input class="button" type="submit" value="Search"/>
        <a class="button" href="{% url 'celebs' %}">Clear Search </a>
      <h1 class="index-title">{{header}}</h1>
    </div>
  </form>
</div>


<!-- Beginning of index card -->

<div class="index-gallery">
  {% for celeb in celebs %}

  <a href="{% url 'celeb_show' celeb.pk %}">
    <div class="index-card">
          <img class='celeb-image' src="{{celeb.image}}" alt="{{celeb.name}}" />
          <p class="hoverable">{{celeb.name}}</p>
    </div>
  </a>
	{% empty %}
  <article class="index-message">
    <div class="index-message-header">
      <p>No Celebs Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}