{% extends 'base.html' %}

{% block content%}

<div class="mb-index-gallery">
  {% for messageboard in messageboards %}
          <div class="mb-index-card">
              <h1 class="mb-title">{{messageboard.title}}</h1>
              <p class="mb-body">{{messageboard.body}}</p>
              <div class="button-section">
                <a href="{% url 'message_board_show' messageboard.pk %}">
                  <button class="mb-button">Read More</button>
                </a>
              </div>
          </div>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Message Board Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}