{% extends 'base.html' %}

{% block content%}

<div class="mb-index-gallery">
  {% for messageboard in messageboards %}
        <a href="{% url 'message_board_show' messageboard.pk %}">
          <div class="mb-index-card">
              <h1>{{messageboard.title}}</h1>
          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Message Board Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}