{% extends 'base.html' %}

{% block content%}

<div class="mb-show">
          <div class="mb-show-card">
              <p class="date">{{messageboard.date_posted}}</p>
              <h1 class="title">{{messageboard.title}}</h1>
              <p class="paragraph">{{messageboard.body}}</p>
          </div>

          <div class="comment-section">
            <h1 class="header">Comments:</h1>
            {% for comment in messageboard.comments.all %}
            <div class="comment">
                <p class="date">{{comment.date_posted}}</p>
                <h4 class="username">{{comment.username}}</h4>
                <p class="body">{{comment.body}}</p>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Comments Available</p>
                </div>
            </article>

            {% endfor %}
          </div>
</div>

{% endblock %}