{% extends 'base.html' %}

{% block content%}

<div class="index-gallery">
  {% for blind in blinds %}
    <a href="#">
      <div class="index-card">
            <div class="index-card-header">
              <h2 class="index-card-title">{{blind.title}}</h2>
              <h2 class="index-card-title">{{blind.body}}</h2>
            </div>
      </div>
    </a>
    {% empty %}
      <article class="index-message">
        <div class="index-message-header">
          <p>No Celebs Available</p>
        </div>
      </article>
    {% endfor %}
</div>

{% endblock %}