{% extends 'base.html' %}

{% block content%}

<div class="mb-show">
          <div class="mb-show-card">
              <h1>{{messageboard.title}}</h1>
              <p>{{messageboard.body}}</p>
          </div>

          <div class="comment-section">
            {% for comment in messageboard.comments.all %}
            <div class="comment">
                <h4>{{comment.username}}</h4>
                <p>{{comment.body}}</p>
                <p>{{comment.date_posted}}</p>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Comments Available</p>
                </div>
            </article>

            {% endfor %}
          </div>
</div>

{% endblock %}