{% extends 'base.html' %}

{% block content%}

<div class="photo-index-gallery">
  {% for photo in photos %}
        <a href="{% url 'photo_show' photo.pk %}">
          <div class="photo-index-card">
              <img src="{{photo.photo}}" alt="{{photo.title}}" />
          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Photos Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}