{% extends 'base.html' %}

{% block content%}

<div class="photo-show" style="background-image: url('{{photo.photo}}')">
          <div class="photo-show-card">
              <img src="{{photo.photo}}" alt="{{photo.title}}" />
              <div class="photo-body">
                <h1 class="photo-title">{{photo.title}}</h1>
                <p>{{photo.description}}</p>
                <p class="date-posted">{{photo.date_taken}}</p>
              </div>
          </div>

          <div class="comment-section">
            {% for comment in photo.comments.all %}
            <div class="comment">
                <h4>{{comment.username}}</h4>
                <p>{{comment.body}}</p>
                <p>{{comment.date_posted}}</p>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Comments Available</p>
                </div>
            </article>

            {% endfor %}
          </div>
</div>

{% endblock %}