{% extends 'base.html' %}

{% block content%}

<div class="index-gallery">
  {% for photo in photos %}

          <div class="index-card">

            {% for celeb in photo.celeb.all %}

              <img src="{{celeb.photo}}" alt="{celeb.title}}" />
                <div class="index-card-header">
                  <h2 class="index-card-title">{{celeb.title}}</h2>
                </div>

            {% endfor %}
          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Celebs Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}