{% extends 'base.html' %}

{% block content%}

<div class="video-show">
          <div class="video-show-card">
              <img src="{{video.thumbnail}}" alt="{{video.title}}" />
              <h1>{{video.title}}</h1>
          </div>

          <div class="comment-section">
            {% for comment in video.comments.all %}
            <div class="comment">
                <h4>{{comment.username}}</h4>
                <p>{{comment.body}}</p>
                <p>{{comment.date_posted}}</p>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Comments Available</p>
                </div>
            </article>

            {% endfor %}
          </div>

</div>

{% endblock %}