{% extends 'base.html' %}

{% block content%}

<div class="index-gallery">
  {% for video in videos %}

          <div class="index-card">

              <img src="{{video.thumbnail}}" alt="{{video.title}}" />
                <div class="index-card-header">
                  <h2 class="index-card-title">{{video.title}}</h2>
                </div>

          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Videos Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}