{% extends 'base.html' %}

{% block content%}

<div class="video-index-gallery">
  {% for video in videos %}
        <a href="{% url 'video_show' video.pk %}">
          <div class="video-index-card">
              <img src="{{video.thumbnail}}" alt="{{video.title}}" />
              <h2 class="video-title">{{video.title}}</h2>
          </div>
        </a>
        {% empty %}
          <article class="index-message">
            <div class="index-message-header">
              <p>No Videos Available</p>
            </div>
          </article>
    {% endfor %}
</div>

{% endblock %}