{% extends 'base.html' %}

{% block content%}

<div class="video-show">
          <div class="video-show-card">
              <iframe width="645" height="400" src="{{video.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video-player"></iframe>
              <div class="video-info">
                <h1 class="video-title">{{video.title}}</h1>
                <p class="about">{{video.description}}</p>
                <p class="date">{{video.date_taken}}</p>
              </div>
          </div>

          <div class="comment-section">
            {% for comment in video.comments.all %}
            <h1 class="header">Comments:</h1>
            <div class="comment">
                <p class="date">{{comment.date_posted}}</p>
                <h4 class="username">{{comment.username}}</h4>
                <p class="body">{{comment.body}}</p>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Comments Available</p>
                </div>
            </article>

            {% endfor %}
          </div>

</div>

{% endblock %}